@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&display=swap");
@import "./normilize.css";
@import "../../shared/styles/index.css";

.page-content {
  padding: 0 15px;
  max-width: 1300px;
  margin: 0 auto;
  min-height: var(--content-height);
}

@media screen and (min-width: 768px) {
  .page-content {
    padding: 0 50px;
  }
}
