.header {
  padding: 26px 50px;
  display: flex;
  align-items: center;
  height: var(--header-height);
  max-width: 1300px;
}

.menu {
  margin-left: auto;
}

.menuItem {
  margin-right: 40px;
  display: inline-block;
}
.menuItem:last-child {
  margin-right: 0;
}
