.header {
  padding: 26px 50px;
  display: flex;
  align-items: center;
}

.menu {
  margin-left: auto;
}

.menuItem {
  padding: 20px 0;
  margin-right: 40px;
}

.menuItem:last-child {
  margin-right: 0;
}
